* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #927dfc;
}
.wrapper {
    padding: relative;
    max-width: 300px;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    padding: 30px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.wrapper .password-box {
    position: relative;
    height: 50px;
}
.password-box input {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 0 45px 0 15px;
    border: 1px solid #aaa;
    background-color: transparent;
}